* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Ubuntu', sans-serif;
    background: rgb(0,36,21);
    background: linear-gradient(90deg, rgba(0,36,21,1) 23%, rgba(101,8,48,1) 54%, rgba(30,2,112,1) 87%);
}

.homecontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    color: #131313;

    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 5px;
}

.location .date{
    color: #ffffff;
    font-size: 16px;
}

.current .temp{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    margin: 30px 0px;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.2);
}

.current .temp span {
    font-weight: 500;
}

.current .weather{
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

#btn_submit{
    border: 0;
    background:none;
    display: block;
    margin: 20px auto; 
    border: 2px solid #2ecc71; 
    padding: 25px 25px;
    outline: none; 
    color: white; 
    border-radius: 24px; 
    transition: 0.25s; 
    cursor: pointer;
}

#btn_submit:hover{
    background: #2ecc71;
}