body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("bg.jpg");
}

.login{
    width: 300px;
    padding: 40px;
    position: absolute;
    border-radius: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.login h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.login input[type="text"], .login input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.login input[type="text"]:focus,.login input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.login input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.login input[type="submit"]:hover{
    background: #2ecc71;
}
