.cover{
    width: 350px;
    height: 350px;
    display: block;
    float: left;
    padding: 25px;
    margin-left: 20px;
    position: relative;
}

.cover img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.cover:hover img{
    filter:blur(3px) brightness(30%);
}

.cover :not(img){
    position: absolute;
    top: 30%;
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 85%;
    opacity: 0;
    transition: 1s;
}

.cover h2{
    font-weight: bolder;
}

.cover h3{
    top: 50%;
    font-weight:bold ;
}

.cover:hover :not(img){
    opacity: 1;
}
